@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --extra-dark: #2d3440;
  --dark: #565c66;
  --neutral: #b9b9b9;
  --light: #e7e7e7;
  --extra-light: #fcfcfc;
  --white: #ffffff;
  --extra-bright: #ff2f64;
  --bright: #ff4a78;
  --special-neutral: #ff7799;
  --special-light: #feafc3;
  --special-extra-light: #ffcbd8;
  --blue: #69a9ff;
  --yellow: #fcc850;
  --status-error: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
}

html {
  height: 100vh;
}

body {
  margin: 0;
}

.main-body {
  min-width: 50vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  background-color: var(--special-light);
  color: var(--dark);
}

.slide-2 .main-body {
  background-color: var(--blue);
}

.slide-3 .main-body {
  background-color: var(--yellow);
}

.main-container {
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

/* Buttons */


/* Header */
/* .main-header {
  min-height: 104px;
} */

.main-header .container {
  padding: 24px 0;
  display: flex;
}

.navigation-logo {
  display: inline-block;
  margin: 0;
  margin-right: 16px;
}

.navigation-logo-img {
  color: var(--extra-dark);
}

.navigation-logo-img:hover {
  color: var(--extra-light);
  opacity: 0.5;
  transition: 100ms;
}

.navigation-logo-img:active {
  color: var(--extra-light);
  opacity: 1;
  transition: 100ms;
}

.navigation-logo:focus {
  box-shadow: 0 0 0 2px var(--extra-light), 0 0 0 4px var(--extra-dark);
  border-radius: 30px;
  outline: none;
  transition: 100ms;
}

.navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.navigation-list {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-link {
  display: flex;
  align-items: center;
  color: var(--extra-dark);
  line-height: 20px;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 30px;
}

.arrow-drop-down {
  margin-left: 6px;
  padding: 6px 2px 4px;
}

.navigation-link:hover {
  background-color: rgb(252 252 252 / 0.5);
  transition: 100ms;
}

.navigation-link:active {
  background-color: var(--extra-light);
  transition: 100ms;
}

.navigation-link:focus {
  background-color: rgb(252 252 252 / 0.5);
  outline: 2px solid var(--extra-dark);
  transition: 100ms;
}

.is-current .navigation-link {
  color: var(--extra-light);
  background-color: var(--bright);
}

.is-current .navigation-link:hover {
  opacity: 0.6;
}

.is-current .navigation-link:active {
  opacity: 0.3;
}



/*

.navigation-item {
  display: flex;
  padding: 8px 16px;
}

.arrow-drop-down
псевдоэлемент? дисплей нон?{

  padding-right: calc(100% + 22px);
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: top 16px right 19px;


} */

.basket-empty {
  display: none;
}
